* {
    font-family: sans-serif;
}

.main--content {
    position: relative;
    background-color: #C8D9e6;
    width: 98%;
    padding: 1rem;
}

.header--title {
    font-size: large;
}

#prim {
    position: relative;
    top: 20px;
}

.header--wrapper img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}

.header--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #f5efeb;
    border-radius: 10px;
    padding: 15px 2rem; 
}

.header--title {
    color: #31729e;
}

.user--info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card--container {
    background: #f5efeb;
    border-radius: 10px;
    padding: 2rem;
    margin-top: 1rem;
}

.card--wrapper {
    display: flex;
    flex-wrap: wrap;
}

.main--title {
    color: #31729e;
    padding-bottom: 4px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payment--card {
    background: rgb(255, 144, 144);
    border-radius: 10px;
    padding: 1.2rem;
    width: 290px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
}

.payment--card2 {
    background: rgb(191, 255, 182);
    border-radius: 10px;
    padding: 1.2rem;
    width: 290px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
}

.value {
    font-size: 50px;
    display: flex;
    flex-direction: column;
}

#credit {
    width: 60px;
    height: 60px;
    position: relative;
    left: 86px;
    top: -17px;
}

.title {
    font-size: 25px;
    font-weight: 200;
    position: relative;
    top:-40px;
}

.payment--card:hover {
    transform: translateY(-5px);
}

.payment--card2:hover {
    transform: translateY(-5px);
}

#credit2 {
    width: 60px;
    height: 60px;
    position: relative;
    left: 69px;
    top: -16px;
}

.tabular--wrapper{
    background: #f5efeb;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 2rem;
}

.table-container{
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #31729e;
    color: #fff;
}

th {
    padding: 15px;
    text-align: left;
}

tbody {
    background-color: #f5efeb;
}

td {
    padding: 15px;
    font-size: 14px;
    color: #333;
}

tr:nth-child(even) {
    background: #fff;
}

tfoot{
    background-color: #f5efeb;
    font-weight: bold;
    color: #fff;
}

tfoot td {
    padding: 15px;
}

